{% extends "reservations/base.html" %}
{% block title %}Reservations{% endblock %}
{% block body %}
    <p>Make reservation in {{ object.title }}</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Reserve</button>
    </form>
        {% for reservation in reservations %}
            Table {{ reservation.table }} in {{ reservation.date|date:"d.m.Y" }} {{ reservation.time|time:"H:i" }} is reserved<br>
        {% endfor %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript">
    function request(date, time){
        $.ajax({
            url: window.location.href.slice(0, -7),
            type: "GET",
            data: {
                'date': date,
                'time': time
            },
            dataType: 'json',
            success: function (data) {
                if (data.reserve_tables) {
                    console.log(data['reserve_tables']);
                    $.each(data['reserve_tables'], function(key, value) {
                        $("#id_table option[value='"+value['table']+"']").each(function() {
                            $(this).remove()
                        });
                    });
                }
            }
        });
    }
    $("#id_time").change(function () {
        var time = $(this).val();
        var date = $("#id_date").val();
        request(date, time);
    });
    $("#id_date").change(function () {
        var time = $("#id_time").val();
        var date = $(this).val();
        request(date, time);
    });
</script>
{% endblock %}